{% extends "base.html" %}

{% block head %}
	{{ block.super }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="?rss" />
{% endblock %}

{% block content %}
	<table width="{{page_width}}">           
        <tr>
            <td width="250" valign="top"> 
	            
	         	{% include "searchbar.html" %}
	            
            </td>
            <td width="650" valgin="top">
                 {% include "publist.html" %}
                
            </td>
         </tr>
    </table>
{% endblock %}