<div id="header">              	
	<table border="0" width="{{page_width}}" cellspacing="0" cellpadding="0">       
        <tr>
            <td bgcolor="#336699" height="30" class="utitle">
               <div class="utitle_blk">
	                <a class="utitle_text" href="http://www.byu.edu">Brigham Young University</a>
	                <a class="utitle_text"> | </a>
			      	<a class="utitle_text" href="http://www.cs.byu.edu">BYU Computer Science</a>
		      	</div>
            </td>
        </tr>
        <tr>            
            <td bgcolor="#002255" height="80" class="mtitle"> 
                <a href="http://cs.byu.edu/" class="byu_logo"><img src="https://cs.byu.edu/sites/all/themes/apolleux/img/logo.png" alt="BYU CS Logo" /></a>
                <span class="mtitle_text">Michael A. Goodrich</span>
            </td>
        </tr>
        <tr>
            <td bgcolor="#003366" height="30" class="navtitle">
		         <div id="navcontainer">	
				    <ul>
					    <li id="nav-home"><a href="/" rel="self">Home</a></li>
					
					    <li id="nav-research"><a href="{{bio.wiki}}" rel="external">Research</a></li>
					    
					    <li id="nav-publication"><a href="/papers" rel="self">Publication</a></li>
					    
					    <li id="nav-teaching"><a href="/teaching" rel="self">Teaching</a></li>
					    
					    <li id="nav-google"><a href="{{bio.google_scholar}}" rel="self">Google Scholar Page</a></li>
					    
					    <li id="nav-acm"><a href="{{bio.acm}}" rel="external">ACM Profile</a></li>
				     </ul>
				</div><!-- End navigation -->
            </td> 
                   
        </tr>
    </table>
</div><! --End header -->


