<?xml version="1.1" encoding="utf-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
                      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		{% block head %}<title>Michael A. Goodrich's Homepage</title>{% endblock %}
		
		<link rel="stylesheet" href="/static/css/style.css" %" type="text/css"/>

	</head>
	<body>
	    <div id="container">        
	        {% include "header.html" %}
	        
	        <table width="{{page_width}}">            
	            <tr>
	                <td width="250" valign="top"> 
			         	{% include "bio.html" %}
		            </td>
		            <td width="600" valign="top">
		                 <div id="teaching">
		                     {% include "teaching_sub.html" %}
		                 </div>
		                
		            </td>
                 </tr>
            </table>
         
            {% include "footer.html" %}
         </div><!-- End container -->
	</body>
</html>