<center>
<h1>Teaching Schedule and Goals</h1>
</center>
<center>
<h3>"Education is the great conversion process under which abstract
knowledge
becomes useful and productive activity."</h3>
</center>
<center>&nbsp; ---&nbsp; Gordon B. Hinckley in <i>Standing For
Something</i></center>
<span style="font-weight: bold;"><br>
<br>
</span>I've been teaching for 12 years, and have taught
CS143 (Introduction
to Computer Architecture),&nbsp; CS 252 (Theory), CS
324 (Computer Architecture) (previously known as CS380),&nbsp; CS
470 (Artificial Intelligence), CS
670 (Multi-Agent Systems), and CS770R (Advanced Topics in Multi-Agent
Systems).&nbsp; Links to each of these pages, with unique links for
each semester, can be found from the<a
 href="http://www.cs.byu.edu/courses/"> CS department website</a>.<br>
For the past several years, I've been teaching only theory, AI, and multi-agent
systems. 
<p>For those who are interested, my teaching goals are:
</p>
<ul>
  <li>
Genuinely care about the students in my classes</li>
  <li>
Make classes both intellectually stimulating and challenging, but
maintain
a respect for how busy students are.</li>
  <li>
Facilitate learning by</li>
  <ul>
    <li>
Engaging student attention in lectures</li>
    <li>
Employing peer tutoring via group projects, class participation, and
in-class
problems</li>
    <li>
Expecting students to be prepared before class, and reinforcing this
expectation
when necessary</li>
  </ul>
  <li>
Establish criteria for expected class competencies/concepts, and grade
according to these competancies</li>
<li> Recognize that empirical evidence suggests that most students forget
most of what they learn in a class within a year after completing it.  Identify 
those concepts that I want students to retain beyond one year, and
teach so as to make these concepts stick.  
  <li>
Make a personal contact with every student who fails an exam or fails
to
turn in a project, and see if I can help them.</li>
</ul>